.nasa-logo {
  height: 300px;
  width: 300px;
  margin-bottom: -20px;
}

.search-input,
.submit {
  border: 1px solid grey;
  vertical-align: middle;
}

.submit {
  margin-top: 0;
  width: 45px;
  height: 23px;
  background-color: rgb(199, 46, 46);
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 0px 7px 7px 0px;
  border-left: none;
  cursor: pointer;
}

.search-input {
  height: 19px;
  border-radius: 7px 0px 0px 7px;
  border-right: none;
}

button:focus,
input:focus {
  outline: none;
}
